In [1]:
import pandas as pd
import geopandas as gpd
import numpy as np 
import os 
import matplotlib.pyplot as plt

In [2]:
# Sample connection
from pyspark.sql import SparkSession

# Create a spark session (which will run spark jobs)
spark = (
    SparkSession.builder.appName("Cleaning connection")
    .config("spark.sql.repl.eagerEval.enabled", True) 
    .config("spark.sql.parquet.cacheMetadata", "true")
    .config("spark.sql.session.timeZone", "Etc/UTC")
    .config("spark.driver.memory", "2g")
    .config("spark.executor.memory", "4g")
    .getOrCreate()
)

22/08/17 22:02:01 WARN Utils: Your hostname, DESKTOP-L9KIK4G resolves to a loopback address: 127.0.1.1; using 172.19.228.94 instead (on interface eth0)
22/08/17 22:02:01 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/08/17 22:02:03 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

# Preparing weather data

In [178]:
# Looking at the weather data and keeping columns with data
df = pd.read_csv('../data/laguardia.csv')
df.rename(str.lower, axis='columns', inplace=True)
df = df[df.report_type.isin(['FM-12', 'FM-15', 'FM-16'])]
df.drop('report_type', axis=1, inplace=True)
df.head()

/tmp/ipykernel_17460/3092311829.py:2: DtypeWarning: Columns (44,45,46) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/laguardia.csv')

,station,date,source,latitude,longitude,elevation,name,call_sign,quality_control,wnd,...,oc1,od1,oe1,oe2,oe3,rh1,rh2,rh3,rem,eqd
0,72503014732,2019-01-01T00:00:00,4,40.77944,-73.88035,3.4,"LAGUARDIA AIRPORT, NY US",99999,V020,"130,1,N,0041,1",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SYN09872503 11358 81308 10067 20050 30189 4020...,NaN
1,72503014732,2019-01-01T00:49:00,6,40.77944,-73.88035,3.4,"LAGUARDIA AIRPORT, NY US",KLGA,V030,"140,5,N,0067,5",...,"0103,5",NaN,NaN,NaN,NaN,NaN,NaN,NaN,MET13312/31/18 19:49:03 SPECI KLGA 010049Z 140...,NaN
2,72503014732,2019-01-01T00:51:00,7,40.77944,-73.88035,3.4,"LAGUARDIA AIRPORT, NY US",KLGA,V030,"130,5,N,0067,5",...,"0103,5",NaN,NaN,NaN,NaN,NaN,NaN,NaN,MET13912/31/18 19:51:01 METAR KLGA 010051Z 130...,NaN
3,72503014732,2019-01-01T01:15:00,7,40.77944,-73.88035,3.4,"LAGUARDIA AIRPORT, NY US",KLGA,V030,"140,5,N,0046,5",...,"0088,5",NaN,NaN,NaN,NaN,NaN,NaN,NaN,MET11212/31/18 20:15:01 SPECI KLGA 010115Z 140...,NaN
4,72503014732,2019-01-01T01:25:00,7,40.77944,-73.88035,3.4,"LAGUARDIA AIRPORT, NY US",KLGA,V030,"130,5,N,0051,5",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MET11912/31/18 20:25:01 SPECI KLGA 010125Z 130...,NaN

In [179]:
# keeping potentially relevant columns
df = df[['date', 'wnd', 'vis', 'tmp', 'dew', 'slp', 'ga1',]]

# loosely transcribed meaning of columns:

# wnd = wind angle clockwise,  quality code, wind obs type, WIND-OBSERVATION speed rate (x10), quality # 9999 missing

# vis = visibility distance, quality, variability, obs qual  # 999999=missing

# tmp = temp (x10), #+9999=missing
# dew = dewpoint(x10), #+9999=missing [dew point temperature The temperature to which a given parcel of air must be cooled at constant pressure and water vapor content in order for saturation to occur

# slp = atm pressure (x10), # 99999 = missing           [seal level pressure]
# ga1 = cloud cover (scale 0-8, 9&10=obstructed), quality, base height, quality, cloud type, quality


# Maybe interesting columns:
# mw1 = weather name, quality
# oc1 = kui suured tuulepuhangud on (x10), quality

# df.drop(['source', 'station', 'latitude', 'longitude', 'name', 'elevation', 'call_sign', 'quality_control', 'cig', 'aa1', 'aa2', 'aa3', 'ab1', 'ad1', 'ae1', 'ah1', 'ah2', 'ah3', 'ah4', 'ah5', 'ah6', 'ai1', 'ai2', 'ai3', 'ai4', 'ai5', 'ai6', 'aj1', 'ak1', 'al1', 'am1', 'an1', 'at1', 'at2', 'at3', 'at4', 'at5', 'at6', 'at7', 'at8', 'au1', 'au2', 'au3', 'au4', 'aw1', 'aw2', 'aw3', 'aw4', 'aw5','ax1', 'ax2', 'ax3', 'ax4', 'ed1', 'ga2', 'ga3', 'gd1', 'gd2', 'gd3', 'gd4', 'ge1', 'gf1', 'ka1', 'ka2', 'kb1','kb2','kb3','kc1','kc2','kd1','kd2','ke1','kg1','kg2','ma1','md1', 'mf1','mg1','mh1','mk1','mv1','mw1','mw2','mw3','oc1','od1','oe1','oe2','oe3','rh1','rh2','rh3','rem','eqd'], axis=1)
df

,date,wnd,vis,tmp,dew,slp,ga1
0,2019-01-01T00:00:00,"130,1,N,0041,1","008000,1,9,9","+0067,1","+0050,1","10201,1","99,9,+00250,1,99,9"
1,2019-01-01T00:49:00,"140,5,N,0067,5","003219,5,N,5","+0070,5","+0050,5","99999,9","07,5,+00244,5,99,9"
2,2019-01-01T00:51:00,"130,5,N,0067,5","003219,5,N,5","+0067,5","+0050,5","10181,5","07,5,+00244,5,99,9"
3,2019-01-01T01:15:00,"140,5,N,0046,5","011265,5,N,5","+0072,5","+0056,5","99999,9","07,5,+00244,5,99,9"
4,2019-01-01T01:25:00,"130,5,N,0051,5","002414,5,N,5","+0072,5","+0056,5","99999,9","07,5,+00244,5,99,9"
...,...,...,...,...,...,...,...
14076,2019-12-31T20:51:00,"240,5,N,0046,5","016093,5,N,5","+0072,5","+0011,5","10028,5","04,5,+01036,5,99,9"
14077,2019-12-31T21:00:00,"240,1,N,0046,1","016000,1,9,9","+0072,1","+0011,1","10028,1","99,9,+01250,1,99,9"
14078,2019-12-31T21:51:00,"250,5,N,0062,5","016093,5,N,5","+0072,5","+0000,5","10033,5","02,5,+00914,5,99,9"
14079,2019-12-31T22:51:00,"240,5,N,0046,5","016093,5,N,5","+0072,5","+0006,5","10036,5","07,5,+00914,5,99,9"
14080,2019-12-31T23:51:00,"220,5,N,0046,5","016093,5,N,5","+0067,5","+0017,5","10033,5","04,5,+01829,5,99,9"

In [180]:
# spliting out the relevant information
df['date'] = df['date'] = pd.to_datetime(df['date'])
df['wnd'] = df['wnd'].str.split(',', expand=True)[3].astype(np.uint32)      # unit: m/s, scaling factor:10,     missing: 9999
df['vis'] = df['vis'].str.split(',', expand=True)[0].astype(np.uint32)      # unit: m,                          
df['tmp'] = df['tmp'].str.split(',', expand=True)[0].astype(np.int32)       # unit: C, scaling factor:10,       missing: 9999
df['dew'] = df['dew'].str.split(',', expand=True)[0].astype(np.int32)       # unit: C, scaling factor:10,       missing: 9999
df['atm'] = df['slp'].str.split(',', expand=True)[0].astype(np.uint32)      # unit: hP, scaling factor:10,      missing: 99999
df['ga1'].fillna('99,x', inplace=True)
df['cc'] = df['ga1'].str.split(',', expand=True)[0].astype(np.uint32).astype('category') # cloud coverage: unit: okta (0 clear -> 8 covered), 99 missing
df.drop(['slp', 'ga1'], axis=1, inplace=True)

In [184]:
df[df.isnull().any(axis=1)] # no NaN left

Empty DataFrame
Columns: [date, wnd, vis, tmp, dew, atm, cc]
Index: []

In [187]:
print(df.dtypes)
df.describe()

date    datetime64[ns]
wnd             uint32
vis             uint32
tmp              int32
dew              int32
atm             uint32
cc            category
dtype: object

                wnd            vis           tmp           dew           atm
count  13691.000000   13691.000000  13691.000000  13691.000000  13691.000000
mean      49.218538   14097.872982    134.312979     62.898693  23881.401505
std       88.596347    9506.640887    176.095325    247.540883  32309.299094
min        0.000000       0.000000   -156.000000   -272.000000   9858.000000
25%       31.000000   16000.000000     50.000000    -17.000000  10125.000000
50%       46.000000   16093.000000    133.000000     72.000000  10186.000000
75%       62.000000   16093.000000    217.000000    144.000000  10264.000000
max     9999.000000  999999.000000   9999.000000   9999.000000  99999.000000

In [202]:
print(df.shape)
df = df[(df['wnd'] != 9999)]
df = df[(df['vis'] != 999999)]
df = df[(df['tmp'] != 9999)] 
df = df[(df['dew'] != 9999)] 
df = df[(df['atm'] != 99999)]
print(df.shape)

(11598, 7)
(11598, 7)

In [203]:
df.describe()

                wnd           vis           tmp           dew           atm
count  11598.000000  11598.000000  11598.000000  11598.000000  11598.000000
mean      48.211847  14861.065097    133.691499     50.988533  10168.289446
std       24.796421   3461.115500    100.612244    106.230097     81.400765
min        0.000000      0.000000   -156.000000   -272.000000   9858.000000
25%       31.000000  16000.000000     50.000000    -33.000000  10114.000000
50%       46.000000  16093.000000    133.000000     61.000000  10166.000000
75%       62.000000  16093.000000    222.000000    139.000000  10225.000000
max      175.000000  16093.000000    372.000000    239.000000  10408.000000

In [220]:
day_count = 0

for group,df_group in df.groupby(df['date'].dt.date):
    day_count += 1
    h_count = 0
    for h, h_group in df_group.groupby(df_group['date'].dt.hour):
        h_count += 1
    if h_count != 24:
        print(f"Problem on date {group}, missing {24-h_count}")
if day_count != (df['date'].iloc[-1] - df['date'].iloc[0]).days:
    print("Some days are missing from dataset")

Problem on date 2019-02-08, missing 1
Problem on date 2019-03-01, missing 1
Problem on date 2019-03-04, missing 10
Problem on date 2019-03-13, missing 1
Problem on date 2019-03-16, missing 2
Problem on date 2019-05-10, missing 1
Problem on date 2019-05-31, missing 1
Problem on date 2019-09-20, missing 5
Problem on date 2019-09-21, missing 16
Problem on date 2019-09-27, missing 2
Problem on date 2019-10-02, missing 1
Problem on date 2019-10-25, missing 1
Problem on date 2019-11-22, missing 1
Some days are missing from dataset

In [222]:
df.to_csv('../data/curated/laguardia.csv')
# TODO missing values like 9999.. should be accounted for better than just removing rn

In [45]:
df['rh3'].value_counts()
#df[df.al1.notna()].drop(['source', 'station', 'latitude', 'longitude', 'name', 'elevation', 'call_sign', 'quality_control', 'cig', 'aa1', 'aa2', 'aa3', 'ab1', 'ad1', 'ae1', 'ah1','ah2', 'ah3','ah4','ah5','ah6', 'ai1','ai2', 'ai3','ai4','ai5','ai6'] , axis=1)

Series([], Name: rh3, dtype: int64)

In [223]:
df.describe()

                wnd           vis           tmp           dew           atm
count  11598.000000  11598.000000  11598.000000  11598.000000  11598.000000
mean      48.211847  14861.065097    133.691499     50.988533  10168.289446
std       24.796421   3461.115500    100.612244    106.230097     81.400765
min        0.000000      0.000000   -156.000000   -272.000000   9858.000000
25%       31.000000  16000.000000     50.000000    -33.000000  10114.000000
50%       46.000000  16093.000000    133.000000     61.000000  10166.000000
75%       62.000000  16093.000000    222.000000    139.000000  10225.000000
max      175.000000  16093.000000    372.000000    239.000000  10408.000000

# Taxi data cleaning

In [3]:
from pyspark.sql.types import IntegerType, DoubleType, TimestampType
from pyspark.sql import functions as F

In [249]:
sdf_yellow_1 = spark.read.parquet('../data/raw/yellow/2017_06.parquet')
sdf_yellow_2 = spark.read.parquet('../data/raw/yellow/2018_06.parquet')
sdf_yellow_3 = spark.read.parquet('../data/raw/yellow/2019_06.parquet')

In [250]:
sdf_yellow_1.printSchema() 
# congestion_surcharge: int->double, 
# passenger_count long->double, 
# ratecodeID long->double

root
 |-- VendorID: long (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: long (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: integer (nullable = true)
 |-- airport_fee: integer (nullable = true)

In [51]:
sdf_yellow = spark.read.parquet('../data/raw/yellow/')
#problematic = ['congestion_surcharge', 'passenger_count', 'ratecodeID']

# type had changed over the years
sdf_yellow = sdf_yellow.withColumn('passenger_count', sdf_yellow['passenger_count'].cast(IntegerType())) \
    .withColumn('congestion_surcharge', sdf_yellow['congestion_surcharge'].cast(DoubleType())) \
    .drop('ratecodeID')

sdf_yellow.printSchema()
sdf_yellow.show()

root
 |-- VendorID: long (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: integer (nullable = true)

+--------+--------------------+---------------------+---------------+-------------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       1| 2017-06-01 00:02:36|  2017-06-01 00:10:02|              1|          1.8|                 N|         161|         263|           1|        8.0|  0.5|    0.5|      1.85|         0.0|                  0.3|       11.15|                null|       null|
|       1| 2017-06-01 00:14:14|  2017-06-01 00:16:50|              1|          0.8|                 N|         237|         237|           1|        4.5|  0.5|    0.5|      0.75|         0.0|                  0.3|        6.55|                null|       null|
|       1| 2017-06-01 00:47:11|  2017-06-01 00:57:47|              1|          1.7|                 N|          48|         233|           1|        8.5|  0.5|    0.5|       1.0|         0.0|                  0.3|        10.8|                null|       null|
|       1| 2017-06-01 00:14:38|  2017-06-01 00:19:49|              1|          1.1|                 N|         246|         249|           1|        5.5|  0.5|    0.5|       1.5|         0.0|                  0.3|         8.3|                null|       null|
|       1| 2017-06-01 00:03:41|  2017-06-01 00:57:09|              1|         14.8|                 N|         166|          61|           2|       48.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        49.8|                null|       null|
|       1| 2017-06-01 00:01:41|  2017-06-01 00:03:03|              1|          0.0|                 N|         264|         145|           2|        3.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         4.3|                null|       null|
|       1| 2017-06-01 00:50:22|  2017-06-01 00:51:04|              1|          0.0|                 N|         145|         145|           3|        2.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         3.8|                null|       null|
|       1| 2017-06-01 00:52:48|  2017-06-01 00:52:55|              1|          0.0|                 N|         145|         145|           2|        2.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         3.8|                null|       null|
|       2| 2017-06-01 00:30:52|  2017-06-01 00:30:56|              1|          0.0|                 N|         193|         193|           1|        2.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         3.8|                null|       null|
|       2| 2017-06-01 00:40:42|  2017-06-01 00:42:59|              1|         0.61|                 N|         264|           7|           2|        4.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         5.3|                null|       null|
|       1| 2017-06-01 00:01:26|  2017-06-01 00:15:36|              3|          3.0|                 N|         161|         125|           2|       12.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        13.3|                null|       null|
|       1| 2017-06-01 00:23:28|  2017-06-01 00:46:22|              1|          5.6|                 N|         114|         238|           1|       19.5|  0.5|    0.5|      4.15|         0.0|                  0.3|       24.95|                null|       null|
|       1| 2017-06-01 00:39:27|  2017-06-01 00:45:23|              1|          1.5|                 N|         161|         164|           1|        7.0|  0.5|    0.5|       1.0|         0.0|                  0.3|         9.3|                null|       null|
|       1| 2017-06-01 00:48:54|  2017-06-01 00:56:19|              1|          1.2|                 N|         164|          48|           1|        7.0|  0.5|    0.5|      1.25|         0.0|                  0.3|        9.55|                null|       null|
|       1| 2017-06-01 00:25:33|  2017-06-01 00:44:24|              1|          3.9|                 N|         142|           7|           1|       15.5|  0.5|    0.5|      3.35|         0.0|                  0.3|       20.15|                null|       null|
|       1| 2017-06-01 00:04:28|  2017-06-01 00:09:49|              1|          0.5|                 N|         162|         229|           2|        5.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         6.8|                null|       null|
|       1| 2017-06-01 00:23:07|  2017-06-01 00:27:49|              1|          1.2|                 N|         239|         151|           2|        6.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         7.8|                null|       null|
|       2| 2017-06-01 00:24:38|  2017-06-01 00:57:41|              1|        18.79|                 N|         132|          75|           1|       52.0|  0.0|    0.5|       7.5|        5.76|                  0.3|       66.06|                null|       null|
|       1| 2017-06-01 00:09:53|  2017-06-01 00:29:13|              1|         11.2|                 N|          87|         168|           3|       31.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        32.8|                null|       null|
|       1| 2017-06-01 00:18:24|  2017-06-01 00:38:23|              4|          8.0|                 N|          48|         244|           1|       24.5|  0.5|    0.5|      6.45|         0.0|                  0.3|       32.25|                null|       null|
+--------+--------------------+---------------------+---------------+-------------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 20 rows

In [64]:
sdf_green = spark.read.parquet('../data/raw/green/')

# type had changed over the years and is not relevant
sdf_green = sdf_green.drop('ratecodeID', 'ehail_fee',  'congestion_surcharge', 'trip_type') \
    .withColumn('passenger_count', sdf_green['passenger_count'].cast(IntegerType())) 
sdf_green.show(5)

+--------+--------------------+---------------------+------------------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+
|VendorID|lpep_pickup_datetime|lpep_dropoff_datetime|store_and_fwd_flag|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|payment_type|
+--------+--------------------+---------------------+------------------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+
|       2| 2017-06-01 00:28:16|  2017-06-01 00:35:25|                 N|          65|          40|              1|         1.75|        7.5|  0.5|    0.5|      1.76|         0.0|                  0.3|       10.56|           1|
|       1| 2017-06-01 00:08:33|  2017-06-01 00:19:25|                 N|         116|          42|              2|          2.1|        9.5|  0.5|    0.5|      2.15|         0.0|                  0.3|       12.95|           1|
|       2| 2017-06-01 00:21:12|  2017-06-01 00:27:38|                 N|         112|         112|              1|         1.24|        6.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         7.8|           2|
|       2| 2017-06-01 00:04:20|  2017-06-01 00:24:13|                 N|         255|         195|              2|         4.94|       18.0|  0.5|    0.5|      3.86|         0.0|                  0.3|       23.16|           1|
|       2| 2017-06-01 00:38:09|  2017-06-01 00:53:08|                 N|          25|          62|              1|         3.13|       13.0|  0.5|    0.5|      2.86|         0.0|                  0.3|       17.16|           1|
+--------+--------------------+---------------------+------------------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+
only showing top 5 rows

In [66]:
sdf_green.count()

6284068

In [8]:
sdf_yellow.summary()

+-------+-------------------+-----------------+------------------+-----------------+------------------+-------------------+------------------+------------------+-------------------+------------------+------------------+---------------------+------------------+-----------+
|summary|           VendorID|    trip_distance|store_and_fwd_flag|     PULocationID|      DOLocationID|       payment_type|       fare_amount|             extra|            mta_tax|        tip_amount|      tolls_amount|improvement_surcharge|      total_amount|airport_fee|
+-------+-------------------+-----------------+------------------+-----------------+------------------+-------------------+------------------+------------------+-------------------+------------------+------------------+---------------------+------------------+-----------+
|  count|           70443818|         70443818|          70340090|         70443818|          70443818|           70443818|          70443818|          70443818|           70443818|          70443818|          70443818|             70443818|          70443818|          0|
|   mean| 1.5928169026840653|3.041164661319338|              null| 161.751087653994|159.87422637995004|  1.324177971159939|13.357372785076802|0.5667025036888226| 0.4961995071022421| 1.939768762395335|0.3682168029267528|   0.2992284266917364|17.429006456879375|       null|
| stddev|0.49685036275769273|7.225769602213949|              null|66.19801033388443| 70.29977836720634|0.49385911837689034| 195.1709253716353|1.8773658880245658|0.06362427242682651|2.7277300679029115|2.0035671751718245| 0.020473872596737008| 195.3789271147781|       null|
|    min|                  1|              0.0|                 N|                1|                 1|                  0|           -1856.0|            -50.56|               -0.5|            -221.0|            -39.74|                 -0.3|           -1871.8|       null|
|    max|                  5|         45977.22|                 Y|              265|               265|                  5|         907070.24|           14000.0|             212.42|           1624.64|           5743.51|                 1.26|         907071.04|       null|
+-------+-------------------+-----------------+------------------+-----------------+------------------+-------------------+------------------+------------------+-------------------+------------------+------------------+---------------------+------------------+-----------+

In [12]:
sdf_yellow.describe(['trip_distance', 'fare_amount']).show()

+-------+-----------------+------------------+
|summary|    trip_distance|       fare_amount|
+-------+-----------------+------------------+
|  count|         70443818|          70443818|
|   mean|3.041164661319338|13.357372785076802|
| stddev|7.225769602213949| 195.1709253716353|
|    min|              0.0|           -1856.0|
|    max|         45977.22|         907070.24|
+-------+-----------------+------------------+

In [7]:
# FHV data, not working yet

# sdf_fhv = spark.read.parquet('../data/raw/fhv/')
# #problematic = ['congestion_surcharge', 'passenger_count', 'ratecodeID']

# #sdf_fhv = sdf_fhv.drop('ratecodeID', 'passenger_count', 'ehail_fee', 'payment_type', 'congestion_surcharge', 'trip_type')   
# new = sdf_fhv.withColumn("PUlocationID",F.col("PUlocationID").cast(DoubleType()))

# #new.limit(5)
# new.dtypes
# new.printSchema()
# new.limit(5)

22/08/17 15:14:06 WARN HeartbeatReceiver: Removing executor driver with no recent heartbeats: 1247229 ms exceeds timeout 120000 ms
22/08/17 15:14:07 WARN SparkContext: Killing executors is not supported by current scheduler.

ERROR:root:Exception while sending command.age 16:>                 (0 + 0) / 1]
Traceback (most recent call last):
  File "/home/toomas/ADS/adsenv/lib/python3.8/site-packages/py4j/clientserver.py", line 516, in send_command
    raise Py4JNetworkError("Answer from Java side is empty")
py4j.protocol.Py4JNetworkError: Answer from Java side is empty

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/toomas/ADS/adsenv/lib/python3.8/site-packages/py4j/java_gateway.py", line 1038, in send_command
    response = connection.send_command(command)
  File "/home/toomas/ADS/adsenv/lib/python3.8/site-packages/py4j/clientserver.py", line 539, in send_command
    raise Py4JNetworkError(
py4j.protocol.Py4JNetworkError: Error while sending or receiving

Py4JError: An error occurred while calling o96.parquet

In [71]:
def make_easier_to_live_with_life(sdf):

    sdf_new = sdf \
            .drop('VendorID', 'store_and_fwd_flag', 'payment_type', 'fate_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge', 'congestion_surcharge','airport_fee') \
            .dropna(how='any') \
            .filter((F.col('trip_distance') > 0) & (F.col('trip_distance') < 150)) \
            .filter((F.col('PULocationID').isin([1,263])) & (F.col('DOLocationID').isin([1, 263]))) \
            .withColumn('PUDayofweek', (F.dayofweek(F.col('tpep_pickup_datetime')))) \
            .withColumn('PUHour', F.hour(F.col('tpep_pickup_datetime')))
            #.withColumn('passenger_count', F.col('passenger_count').cast('INT')) \
            #.filter(F.col('passenger_count') > 0) \
    return sdf_new

sdf = make_easier_to_live_with_life(sdf_yellow)
sdf.show(100)

+--------------------+---------------------+---------------+-------------+------------+------------+-----------+------------+-----------+------+
|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|PULocationID|DOLocationID|fare_amount|total_amount|PUDayofweek|PUHour|
+--------------------+---------------------+---------------+-------------+------------+------------+-----------+------------+-----------+------+
| 2017-06-01 00:03:01|  2017-06-01 00:05:40|              1|          0.4|         263|         263|        3.5|         4.8|          5|     0|
| 2017-06-01 00:22:04|  2017-06-01 00:26:31|              1|          1.1|         263|         263|        5.5|        8.15|          5|     0|
| 2017-06-01 00:30:19|  2017-06-01 00:32:21|              1|         0.52|         263|         263|        4.0|        6.36|          5|     0|
| 2017-06-01 00:19:09|  2017-06-01 00:20:14|              3|         0.35|         263|         263|        3.0|         5.3|          5|     0|
| 2017-06-01 00:30:46|  2017-06-01 00:32:46|              1|          0.4|         263|         263|        3.5|         4.8|          5|     0|
| 2017-06-01 01:40:39|  2017-06-01 01:48:50|              5|         1.13|         263|         263|        7.5|         8.8|          5|     1|
| 2017-06-01 01:46:21|  2017-06-01 01:49:13|              1|          0.6|         263|         263|        4.5|        6.95|          5|     1|
| 2017-06-01 01:48:15|  2017-06-01 01:52:06|              1|          0.7|         263|         263|        4.5|         6.8|          5|     1|
| 2017-06-01 01:51:33|  2017-06-01 01:52:53|              1|          0.3|         263|         263|        3.5|        5.38|          5|     1|
| 2017-06-01 01:15:33|  2017-06-01 01:16:48|              1|         0.53|         263|         263|        3.5|         4.8|          5|     1|
| 2017-06-01 02:49:23|  2017-06-01 02:50:28|              1|         0.44|         263|         263|        3.5|         6.0|          5|     2|
| 2017-06-01 02:02:57|  2017-06-01 02:06:57|              4|         0.76|         263|         263|        5.0|        7.56|          5|     2|
| 2017-06-01 02:13:08|  2017-06-01 02:15:35|              1|          0.7|         263|         263|        4.5|         5.8|          5|     2|
| 2017-06-01 03:35:27|  2017-06-01 03:38:18|              1|          0.8|         263|         263|        4.5|         6.5|          5|     3|
| 2017-06-01 03:19:18|  2017-06-01 03:20:45|              1|          0.5|         263|         263|        3.5|        5.75|          5|     3|
| 2017-06-01 03:07:46|  2017-06-01 03:08:43|              1|          0.4|         263|         263|        3.5|        5.75|          5|     3|
| 2017-06-01 03:34:31|  2017-06-01 03:36:17|              1|          0.5|         263|         263|        4.0|         5.3|          5|     3|
| 2017-06-01 03:01:30|  2017-06-01 03:01:48|              2|          0.1|         263|         263|       -2.5|        -3.8|          5|     3|
| 2017-06-01 03:01:30|  2017-06-01 03:01:48|              2|          0.1|         263|         263|        2.5|         3.8|          5|     3|
| 2017-06-01 03:42:46|  2017-06-01 04:19:58|              2|        21.12|         263|           1|       75.0|        94.0|          5|     3|
| 2017-06-01 03:38:10|  2017-06-01 04:12:50|              1|         18.6|         263|           1|       69.5|        72.3|          5|     3|
| 2017-06-01 04:29:36|  2017-06-01 04:30:59|              2|         0.22|         263|         263|        3.0|         4.3|          5|     4|
| 2017-06-01 04:43:53|  2017-06-01 05:15:09|              2|        20.19|         263|           1|       72.0|      103.08|          5|     4|
| 2017-06-01 04:40:09|  2017-06-01 04:41:46|              1|          0.6|         263|         263|        4.0|         5.3|          5|     4|
| 2017-06-01 05:12:56|  2017-06-01 05:19:01|              2|          0.8|         263|         263|        4.5|         5.8|          5|     5|
| 2017-06-01 05:19:13|  2017-06-01 05:53:48|              1|         20.4|         263|           1|       73.0|      107.25|          5|     5|
| 2017-06-01 05:08:44|  2017-06-01 05:10:29|              2|         0.47|         263|         263|        3.5|        5.76|          5|     5|
| 2017-06-01 06:28:08|  2017-06-01 07:07:48|              1|         23.3|         263|           1|       80.5|      120.35|          5|     6|
| 2017-06-01 06:02:57|  2017-06-01 06:04:56|              1|          0.6|         263|         263|        4.0|         4.8|          5|     6|
| 2017-06-01 06:15:55|  2017-06-01 06:16:12|              1|          0.1|         263|         263|       52.0|       68.56|          5|     6|
| 2017-06-01 06:39:42|  2017-06-01 06:44:19|              5|         1.04|         263|         263|        5.5|         7.0|          5|     6|
| 2017-06-01 06:28:07|  2017-06-01 06:29:46|              1|         0.52|         263|         263|        3.5|        5.16|          5|     6|
| 2017-06-01 06:17:16|  2017-06-01 06:18:32|              1|          0.4|         263|         263|        3.5|        5.16|          5|     6|
| 2017-06-01 06:07:31|  2017-06-01 06:42:10|              1|         19.8|         263|           1|       72.0|      101.75|          5|     6|
| 2017-06-01 07:21:49|  2017-06-01 08:08:49|              2|         22.6|         263|           1|       80.5|       108.3|          5|     7|
| 2017-06-01 07:51:09|  2017-06-01 07:54:12|              1|          0.7|         263|         263|        4.5|        6.35|          5|     7|
| 2017-06-01 07:44:11|  2017-06-01 07:49:08|              2|         0.94|         263|         263|        5.5|         6.3|          5|     7|
| 2017-06-01 07:51:59|  2017-06-01 07:53:44|              1|          0.6|         263|         263|        4.0|        5.75|          5|     7|
| 2017-06-01 07:11:15|  2017-06-01 07:15:32|              1|          0.8|         263|         263|        5.0|         6.8|          5|     7|
| 2017-06-01 07:16:46|  2017-06-01 07:18:43|              1|          0.4|         263|         263|        3.5|         4.3|          5|     7|
| 2017-06-01 07:41:35|  2017-06-01 07:46:10|              1|          0.9|         263|         263|        5.0|        6.95|          5|     7|
| 2017-06-01 07:03:13|  2017-06-01 07:15:06|              5|         2.09|         263|         263|       10.0|       12.96|          5|     7|
| 2017-06-01 07:33:34|  2017-06-01 08:01:06|              1|          4.1|         263|         263|       19.0|        19.8|          5|     7|
| 2017-06-01 07:27:30|  2017-06-01 07:30:29|              1|          0.6|         263|         263|        4.0|        5.75|          5|     7|
| 2017-06-01 07:08:51|  2017-06-01 07:10:35|              5|         0.48|         263|         263|        3.5|        5.16|          5|     7|
| 2017-06-01 07:51:29|  2017-06-01 08:33:13|              1|        28.49|         263|           1|       93.5|       106.3|          5|     7|
| 2017-06-01 07:55:30|  2017-06-01 07:58:50|              1|          0.4|         263|         263|        4.0|         6.0|          5|     7|
| 2017-06-01 07:03:18|  2017-06-01 07:05:49|              1|          0.6|         263|         263|        4.0|         4.8|          5|     7|
| 2017-06-01 07:30:20|  2017-06-01 07:32:10|              5|          0.3|         263|         263|        3.5|        5.16|          5|     7|
| 2017-06-01 07:23:31|  2017-06-01 07:35:07|              1|         1.86|         263|         263|        9.5|       12.88|          5|     7|
| 2017-06-01 07:41:37|  2017-06-01 07:45:43|              1|         0.75|         263|         263|        5.0|         5.8|          5|     7|
| 2017-06-01 07:20:47|  2017-06-01 07:24:04|              1|          0.7|         263|         263|        4.5|        6.35|          5|     7|
| 2017-06-01 07:28:35|  2017-06-01 07:41:43|              1|         1.53|         263|         263|        9.5|        10.3|          5|     7|
| 2017-06-01 08:30:29|  2017-06-01 08:33:45|              1|         0.56|         263|         263|        4.5|        6.36|          5|     8|
| 2017-06-01 08:40:35|  2017-06-01 08:43:15|              1|          0.4|         263|         263|        4.0|         5.8|          5|     8|
| 2017-06-01 08:23:53|  2017-06-01 08:25:32|              4|         0.28|         263|         263|        3.5|         5.3|          5|     8|
| 2017-06-01 08:01:56|  2017-06-01 08:07:58|              5|         0.77|         263|         263|        6.0|        8.16|          5|     8|
| 2017-06-01 08:21:23|  2017-06-01 08:22:59|              1|          0.4|         263|         263|        3.5|        5.15|          5|     8|
| 2017-06-01 08:18:36|  2017-06-01 08:20:16|              1|         0.34|         263|         263|        3.5|        5.16|          5|     8|
| 2017-06-01 08:13:45|  2017-06-01 08:16:24|              5|         0.48|         263|         263|        4.0|         4.8|          5|     8|
| 2017-06-01 08:42:41|  2017-06-01 09:46:16|              1|        20.24|         263|           1|       80.0|       110.8|          5|     8|
| 2017-06-01 08:37:26|  2017-06-01 08:44:23|              1|          0.9|         263|         263|        6.5|         7.3|          5|     8|
| 2017-06-01 08:41:56|  2017-06-01 08:44:29|              5|         0.34|         263|         263|        4.0|         4.8|          5|     8|
| 2017-06-01 08:18:42|  2017-06-01 08:23:10|              1|         0.49|         263|         263|        4.5|         5.3|          5|     8|
| 2017-06-01 08:51:33|  2017-06-01 08:54:22|              1|          0.4|         263|         263|        4.0|         4.8|          5|     8|
| 2017-06-01 08:07:59|  2017-06-01 08:13:53|              1|         1.06|         263|         263|        6.0|        7.82|          5|     8|
| 2017-06-01 08:05:50|  2017-06-01 08:10:51|              1|          0.7|         263|         263|        5.5|        7.55|          5|     8|
| 2017-06-01 08:39:51|  2017-06-01 08:42:45|              1|         0.39|         263|         263|        4.0|         4.8|          5|     8|
| 2017-06-01 08:51:15|  2017-06-01 08:54:15|              1|          0.6|         263|         263|        4.5|        6.55|          5|     8|
| 2017-06-01 08:06:30|  2017-06-01 08:11:52|              1|          0.8|         263|         263|        5.5|        7.25|          5|     8|
| 2017-06-01 08:57:11|  2017-06-01 09:01:36|              1|          0.7|         263|         263|        5.0|         5.8|          5|     8|
| 2017-06-01 08:19:50|  2017-06-01 08:23:03|              2|         0.24|         263|         263|        4.0|        5.76|          5|     8|
| 2017-06-01 08:04:00|  2017-06-01 08:06:19|              1|          1.1|           1|           1|       69.9|      103.35|          5|     8|
| 2017-06-01 08:11:09|  2017-06-01 08:12:55|              1|         0.45|         263|         263|        3.5|        5.16|          5|     8|
| 2017-06-01 08:04:29|  2017-06-01 08:06:10|              1|         0.44|         263|         263|        3.5|        5.59|          5|     8|
| 2017-06-01 08:32:11|  2017-06-01 08:33:58|              1|          0.1|         263|         263|        3.0|         3.8|          5|     8|
| 2017-06-01 08:47:30|  2017-06-01 08:53:01|              1|         0.73|         263|         263|        5.5|         6.3|          5|     8|
| 2017-06-01 08:54:24|  2017-06-01 08:56:44|              1|         0.41|         263|         263|        3.5|         4.3|          5|     8|
| 2017-06-01 09:55:54|  2017-06-01 10:01:28|              2|         0.76|         263|         263|        5.5|        7.88|          5|     9|
| 2017-06-01 09:50:46|  2017-06-01 09:55:25|              1|          0.8|         263|         263|        5.0|         6.8|          5|     9|
| 2017-06-01 09:38:38|  2017-06-01 09:43:04|              2|         0.66|         263|         263|        5.0|         5.8|          5|     9|
| 2017-06-01 09:16:17|  2017-06-01 09:19:57|              1|         0.66|         263|         263|        4.5|         5.3|          5|     9|
| 2017-06-01 09:06:45|  2017-06-01 09:09:53|              1|          0.6|         263|         263|        4.5|         6.3|          5|     9|
| 2017-06-01 09:30:33|  2017-06-01 09:31:14|              1|         0.26|         263|         263|        3.0|         3.8|          5|     9|
| 2017-06-01 09:24:29|  2017-06-01 09:40:29|              1|          0.9|         263|         263|       10.5|       13.55|          5|     9|
| 2017-06-01 09:33:49|  2017-06-01 09:34:48|              1|         0.28|         263|         263|        3.0|        4.56|          5|     9|
| 2017-06-01 09:51:43|  2017-06-01 09:54:30|              1|         0.31|         263|         263|        4.0|        5.76|          5|     9|
| 2017-06-01 10:35:37|  2017-06-01 10:38:28|              1|          0.3|         263|         263|        4.0|         4.8|          5|    10|
| 2017-06-01 10:53:24|  2017-06-01 10:56:18|              1|          0.4|         263|         263|        4.0|         4.8|          5|    10|
| 2017-06-01 10:00:51|  2017-06-01 10:01:55|              1|          0.3|         263|         263|        3.0|         5.8|          5|    10|
| 2017-06-01 10:19:51|  2017-06-01 10:21:58|              1|         0.58|         263|         263|        4.0|        5.76|          5|    10|
| 2017-06-01 10:17:12|  2017-06-01 11:15:15|              1|        21.32|         263|           1|       84.5|      117.36|          5|    10|
| 2017-06-01 10:49:38|  2017-06-01 10:52:05|              1|          0.4|         263|         263|        3.5|        5.16|          5|    10|
| 2017-06-01 10:45:44|  2017-06-01 10:50:47|              1|          0.7|         263|         263|        5.0|         5.8|          5|    10|
| 2017-06-01 10:07:26|  2017-06-01 10:08:27|              1|          6.2|           1|           1|       70.0|      105.67|          5|    10|
| 2017-06-01 10:00:18|  2017-06-01 10:04:03|              1|          0.5|         263|         263|        4.5|         5.3|          5|    10|
| 2017-06-01 10:39:58|  2017-06-01 10:42:17|              1|          0.4|         263|         263|        4.0|         5.3|          5|    10|
| 2017-06-01 11:23:09|  2017-06-01 11:24:03|              1|         0.14|         263|         263|       -2.5|        -3.3|          5|    11|
| 2017-06-01 11:23:09|  2017-06-01 11:24:03|              1|         0.14|         263|         263|        2.5|         3.3|          5|    11|
| 2017-06-01 11:54:54|  2017-06-01 11:59:32|              1|         0.69|         263|         263|        5.0|        6.96|          5|    11|
+--------------------+---------------------+---------------+-------------+------------+------------+-----------+------------+-----------+------+
only showing top 100 rows

In [252]:
sdf_yellow_3.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: integer (nullable = true)

In [246]:
print("Total trip count", sdf_yellow.count())
sdf_yellow.printSchema()

Total trip count 19355336
root
 |-- VendorID: long (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: integer (nullable = true)

In [248]:
ints = ['DOlocationID', 'PUlocationID']
doubles = ['trip_distance', 'total_amount']
dtimes = ['lpep_pickup_datetime', 'lpep_dropoff_datetime', 'Pickup_DateTime', 'DropOff_datetime', 'tpep_pickup_datetime', 'tpep_dropoff_datetime')
unwanted = []
dtypes = {column: IntegerType() for column in ints}
dtypes.update({column: DoubleType() for column in doubles})
dtypes.update({column: StringType() for column in strings})
dtypes.update({column: TimestampType() for column in dtimes})

for column in sdf.columns:
    sdf = sdf.withColumn(column, sdf[column].cast(dtypes[column]))

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       1| 2019-06-01 00:55:13|  2019-06-01 00:56:17|            1.0|          0.0|       1.0|                 N|         145|         145|           2|        3.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         4.3|                 0.0|       null|
|       1| 2019-06-01 00:06:31|  2019-06-01 00:06:52|            1.0|          0.0|       1.0|                 N|         262|         263|           2|        2.5|  3.0|    0.5|       0.0|         0.0|                  0.3|         6.3|                 2.5|       null|
|       1| 2019-06-01 00:17:05|  2019-06-01 00:36:38|            1.0|          4.4|       1.0|                 N|          74|           7|           2|       17.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        18.8|                 0.0|       null|
|       1| 2019-06-01 00:59:02|  2019-06-01 00:59:12|            0.0|          0.8|       1.0|                 N|         145|         145|           2|        2.5|  1.0|    0.5|       0.0|         0.0|                  0.3|         4.3|                 0.0|       null|
|       1| 2019-06-01 00:03:25|  2019-06-01 00:15:42|            1.0|          1.7|       1.0|                 N|         113|         148|           1|        9.5|  3.0|    0.5|      2.65|         0.0|                  0.3|       15.95|                 2.5|       null|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+

In [83]:
#sdf_green = spark.read.parquet('../data/raw/green/').options(inferSchema=False)
# type had changed over the years and is not relevant
#mergedDF = spark.read.option("mergeSchema", "true").parquet("../data/raw/green/")

#sdf_green = sdf_green.drop('ratecodeID', 'ehail_fee',  'congestion_surcharge', 'trip_type') \
#    .withColumn('passenger_count', sdf_green['passenger_count'].cast(IntegerType())) 

#sdf_green.show(5)
#mergedDF.write.mode('overwrite').parquet("../data/curated/green201720")
for file in os.listdir('../data/raw/yellow/'):
    print(file)
    sdf = spark.read.parquet('../data/raw/yellow/'+file)
    sdf = sdf.withColumn('passenger_count', sdf['passenger_count'].cast(IntegerType())) 
    sdf.write.mode('overwrite').parquet('..data/curated/yellow/'+file)


    # congestion_surcharge: int->double, 
    # passenger_count long->double, 
    # ratecodeID long->double

2019_06.parquet

2017_06.parquet